{% extends 'base.html.twig' %}

{% block title %}
	{{ app.user.firstname }}
	{{ app.user.lastname}}
{% endblock %}


{% block body %}
	<section class="col-12" id="student_courses">
		
	</section>
{% endblock %}

