{% extends 'base.html.twig' %}

{% block title %}Hello TeacherController!{% endblock %}

{% block body %}

<section class="row">
    <h1>Hello</h1>

    <div>
        {{ form(form) }}
    </div>
</section>
{% endblock %}
