{% extends 'base.html.twig' %}

{% block title %}Espace enseignant
{% endblock %}

{% block body %}

	<section class="row">
		<div class="col-11 col-md-11 m-auto alert alert-secondary">
			<div class="my-3 text-center">
				<h1 class="fs-1 text-uppercase text-primary">Ajouter une matières</h1>
			</div>
			<div>
				{{ form_start(form) }}
				<div class="fs-2 my-3">
					{{ form_row(form.name) }}
				</div>
				<div class="text-center my-3">
					{{ form_row(form.ajouter) }}
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}

