<footer class="py-0 alert alert-secondary fs-3 mb-0 mt-5 pt-3">
    <div id="footer-main" class="text-center">
        <nav class="row m-auto">
            <ul class="col-md-12 me-auto list-unstyled">
                <div class="row text-center d-unset">
                    <li class="col col-md pe-0"><a class="text-decoration-none text-secondary fs-3" href="index.php">Accueil</a></li>
                    <li class="col col-md pe-0"><a class="text-decoration-none text-secondary fs-3" href="about.php">A_propos</a></li>
                    <li class="col col-md pe-0"><a class="text-decoration-none text-secondary fs-3" href="login.php">Login</a></li>
                    <li class="col col-md pe-0"><a class="text-decoration-none text-secondary fs-3" href="signup.php">Signup</a></li>
                    <li class="col col-md pe-0"><a class="text-decoration-none text-secondary fs-3" href="../index.php#contact">Contacter</a></li>
                </div>
            </ul>
        </nav>
        <div id="foot-content">
            <p>Ceci est un travail de fin de formation Développement Web et
                web mobile suivis pendant une période de 6 mois</p>
            <p>Technologie utilisée Htlm&Css, Javascript, Php&Mysql...</p>
        </div>
    </div>
    <div id="footer-foot">
        <p class="text-center fs-1">&copy; Tout droits réservés</p>
    </div>
</footer>
</body>
</html>