<footer class="py-0 alert alert-secondary fs-3 mb-0 mt-5 pt-3">
    <div id="footer-main" class="text-center">
    
        {% include '_partials/_list_options.html.twig' %}

        <div id="foot-content">
            <p>Ceci est un travail de fin de formation Développement Web et
                web mobile suivis pendant une période de 6 mois</p>
            <p>Technologie utilisée Htlm&Css, Javascript, Php&Mysql...</p>
        </div>
    </div>
    <div id="footer-foot">
        <p class="text-center fs-1">&copy; Tout droits réservés</p>
    </div>
</footer>
