<header class="container">
	<div class="row">
		<nav
			class="navbar navbar-expand-lg col-11 col-md-12 m-auto">
			<!-- Début de la barre de navigation -->
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('app_main') }}">
					<img src="{{ asset('images/logo.png') }}" alt="logo du site" width="100%" height="auto"/>
				</a>
				<div class="d-none d-lg-flex" id="list_options">
					{% include '_partials/_list_options.html.twig' %}
				</div>
				<div class="d-flex align-items-center">
					<button class="btn" id="theme-mode" type="button">
						<svg width="40px" height="40px" fill="yellow">
							<use href="{{ asset('images/sprites.svg') }}#light"></use>
						</svg>
					</button>
					<div class="" id="navbar">
						<button id="burger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
							<svg width="30" height="30">
    							<use href="{{ asset('images/sprites.svg') }}#burger"></use>
  							</svg>
						</button>

						<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
							<div class="offcanvas-header">
								<h5 class="offcanvas-title" id="offcanvasLabel">Tech-school
								</h5>
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<div class="offcanvas-body">
								<div class="">
									<ul class="list-unstyled">
										<li><a class="active" href="">Accueil</a></li>
										<li><a class="" href="">Apropos</a></li>
										<li><a class="" href="">Signup</a></li>
										<li><a class="" href="">Login</a></li>
										<li><a class="" href="">Contact</a></li>
									
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</nav>
	</div>
	<!-- Fin de la barre de navigation -->
</header>
