<div class="d-none d-lg-flex w-100 justify-content-center">
    <ul class="list-unstyled d-flex flex-wrap align-items-center gap-5 mb-0">
        <li><a class="text-decoration-none fs-1 text-black p-2 dropdown-item active" href="/">Accueil</a>
        </li>
        <li><a class="text-decoration-none fs-1 text-black p-2 dropdown-item" href="{{ path('app_about') }}">À
                propos</a></li>
        <li><a class="text-decoration-none fs-1 text-black p-2 dropdown-item"
               href="{{ path("app_register") }}">Signup</a></li>
        <li><a class="text-decoration-none fs-1 text-black p-2 dropdown-item" href="{{ path('app_login') }}">Login</a>
        </li>
        <li><a class="text-decoration-none fs-1 text-black p-2 dropdown-item" href="/#contact">Contacter</a>
        </li>
    </ul>
</div>
