{# Bouton pour remonter en haut de page #}
<div id="upButton">
    <a class="btn" href="{{ path('app_main') }}">
        <svg class="py-3" width="100" height="100">
            <use href="{{ asset('images/sprites.svg') }}#upButton"></use>
        </svg>
    </a>
</div>
